/* .border-dashed {
    border: 2px dashed #ccc;
    border-radius: 8px;
  }
  
  .resume-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .resume-card:hover {
    transform: scale(1.05);
  }
  
  .resume-img {
    height: 200px;
    object-fit: cover;
  }
   */